.dark ::-webkit-scrollbar {
  width: 16px;
  height: 12px;
}

.dark ::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 2px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 2px;
  border: 3px solid #2a2a2a;
}

.light ::-webkit-scrollbar {
  width: 16px;
  height: 12px;
}

.light ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}

.light ::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
  border: 3px solid #f1f1f1;
}

.tab-link {
  min-width: 5rem;
}

.text-secondary {
  color: rgb(60, 60, 60);
}

.dark .text-secondary {
  color: gray;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
